@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

a {
    color: lightpink;
}

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background-image: url('./florian-giorgio-t6kr9bbHaVg-unsplash.jpg');
    background-size: cover;
}

header {
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.words-wrapper {
    z-index: 2;
    margin: 10px;
    padding: 8px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid black;
}

.grid {
    margin: 10px;
    width: 364px;
    height: 424px;
    display: inline-grid;
    grid-template-columns: repeat( auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat( auto-fill, minmax(30px, 1fr));
    background-color: #f3f3f3;
}

.cell {
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
}

canvas {
    position: absolute;
    overflow: hidden;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    text-align: right;
    padding: 10px;
}