@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.words-wrapper {
    margin: 10px;
    border: 1px solid blue;
}

.grid {
    margin: 10px;
    width: 364px;
    height: 424px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat( auto-fill, minmax(30px, 1fr));
    /* grid-gap: 1px; */
    background-color: #f3f3f3;
    border: 2px solid magenta;
}

.cell {
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
}

